<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.weiyou">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <receiver android:name=".receiver.AlarmReceiver"></receiver>
        <service android:name=".server.AlarmSoundService"
            android:enabled="true"
            android:exported="true"
            ></service>
        <receiver android:name=".MyJPushMessageReceiver">
            <intent-filter>
                <category android:name="com.lds.weiyou"></category>
            </intent-filter>
        </receiver>
        <service android:name="com.weiyou.PushService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
    </application>
    <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
    <meta-data android:name="JPUSH_APPKEY" android:value="b89ecfe4b6dac36ebbf8bd65" />
<!--    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- Required  一些系统要求的权限，如访问网络等-->
<!--    <uses-permission android:name="com.lds.weiyou.permission.JPUSH_MESSAGE" />-->
<!--    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
<!--    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <permission
        android:name="com.lds.weiyou.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

</manifest>
